:root {
  --ifm-color-primary: #004dd6;
  --ifm-color-primary-dark: #0045c1;
  --ifm-color-primary-darker: #0041b6;
  --ifm-color-primary-darkest: #003696;
  --ifm-color-primary-light: #0055eb;
  --ifm-color-primary-lighter: #0059f6;
  --ifm-color-primary-lightest: #176bff;
}
