:root {
  --ifm-color-primary: #4176bd;
  --ifm-color-primary-dark: #3b6aaa;
  --ifm-color-primary-darker: #3764a1;
  --ifm-color-primary-darkest: #2d5384;
  --ifm-color-primary-light: #5384c4;
  --ifm-color-primary-lighter: #5d8ac7;
  --ifm-color-primary-lightest: #799fd1;
}

[data-theme="dark"] {
  --ifm-color-primary: #fbf0aa;
  --ifm-color-primary-dark: #f9e982;
  --ifm-color-primary-darker: #f8e56e;
  --ifm-color-primary-darkest: #f5db31;
  --ifm-color-primary-light: #fdf7d2;
  --ifm-color-primary-lighter: #fefbe6;
  --ifm-color-primary-lightest: #ffffff;
}

.tabs__item {
  margin-top: 0;
}
