:root {
  --ifm-color-primary: #001c98;
  --ifm-color-primary-dark: #001989;
  --ifm-color-primary-darker: #001881;
  --ifm-color-primary-darkest: #00146a;
  --ifm-color-primary-light: #001fa7;
  --ifm-color-primary-lighter: #0020af;
  --ifm-color-primary-lightest: #0024c6;
}

[data-theme="dark"] {
  --ifm-color-primary: #ffe367;
  --ifm-color-primary-dark: #ffdc43;
  --ifm-color-primary-darker: #ffd931;
  --ifm-color-primary-darkest: #fbcc00;
  --ifm-color-primary-light: #ffea8b;
  --ifm-color-primary-lighter: #ffed9d;
  --ifm-color-primary-lightest: #fff7d2;
}

.tabs__item {
  margin-top: 0;
}
